html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#wordCloud {
	height:100%;
	width:100%;
    min-height:150px;
    box-sizing: inherit;
}
.zc-ref {
	display:none;
}
#wordCloud-license-text {
    display: none;
}
#wordCloud svg {
    width: 90%;
}
#youtube-listing-wrapper {
    height: 50vh;
}
.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before,
.youtube .video-title {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube .video-title {
    top: 10px;
    left: 10px;
    color: #fff;
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#alertMessage{
<<<<<<< HEAD
    position: absolute;
    z-index: 1;
    display: none;
    top: 18%;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    text-align: center;
    border-radius: 7px;
    /* margin: 0 25%; */
    padding: 0 20px;
    background-color: rgb(223, 222, 222);
    height: 200px;
}
#errMessageWrapper {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -40px;
=======
  position: absolute;
  z-index: 1;
  display: none;
  top :30%;
  width: auto;
  text-align: center;
  border-radius: 7px;
  margin: 0 40%;
  padding: 0 30px;
  background-color: rgb(223, 222, 222);
  height: 100px;
>>>>>>> 89bd4ee090befb0f71ee39a293e82cdf596df618
}

.btnClose{
  position: relative;
  background-color: rgb(138, 138, 224);
  border-radius: 7px;
  padding: 0 20px;

}

#errMessage{
  top:10%;
  margin: 10px 0;

}
#page-header img {
    width: 100px;
    left: 50%;
    margin: -50px;
    top: 7%;
    position: absolute;
    z-index: -1;
}
#page-header {
    position: relative;
    height: 140px;
    margin-top: 50px;
}
.slick-arrow {
    margin-bottom: 5px;
}
.slick-next {
    position: absolute;
    top: 0;
    right: 0;
}